div.centralizar{
    text-align: center;
}

.centralizar::after {
    content: ""; /* Adiciona um elemento vazio para limpar a flutuação */
    display: table;
    clear: both;
}
div.comportamento_em_linha{
        /*display: inline; /* faz com que o elemento se comporte como texto em linha */
        float: left; /* Coloca o texto à esquerda */
        margin-right: 10px; /* Adiciona um espaço entre o texto e o botão */
}
div.direita {
        display: right;
}
div.direita_em_linha{
        text-align: inline;
        float: right;
        margin-left: 10px; /* Adiciona um espaço entre o texto e o botão */
}
.centralizar button {
    display: inline-block; /* Garante que os botões fiquem na mesma linha */
    width: 200px; 
    margin: 10px; 
    border-radius: 10px; 
    padding: 10px;
    background-color: #f0f0f0; 
    border: 3px solid #000000; 
}
.centralizar .sign_in {
    width: 90px; 
    height: 45px;
    font-size: 15px;
    border-radius: 10px; 
    font-weight: bold;
    border: 2px solid #000000; 
    background-color: #007bff;
    color: #fff;
}